{{ define "Content" }}
<div class="content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 ">

  <p>Binder Text(direct HTML write)</p>

</div>

{{ range latestNotes 5 }}
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
    <i class="material-icons">play_circle_filled</i>
  </header>

  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>{{ .Title }}</h4>
    </div>
    <div class="mdl-card__actions">
      <a href="{{.NoteRoot}}/index.html" class="mdl-button">Read</a>
    </div>
  </div>
</section>
{{end}}

{{end}}
