{{ define "Pages" }}<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{.Description}}">
    <title>{{ .Name }}</title>
    <link rel="stylesheet" href="{{.DataRoot}}/material.min.css">
    <link rel="stylesheet" href="{{.DataRoot}}/styles.css">
  </head>

  <body>
    <div class="layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{{ .Name }}</span>
        </div>
      </header>
      <div class="ribbon"></div>
      <main class="main mdl-layout__content">

        <div class="container mdl-grid">

          <div class="mdl-cell mdl-cell--12-col">
            {{ template "Content" . }}
          </div>
        </div>

        <footer class="footer mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <ul class="mdl-mini-footer--link-list">
              <li><a href="#">&copy;2024 Binder</a></li>
            </ul>
          </div>
        </footer>

      </main>
    </div>

    <script src="{{.DataRoot}}/material.min.js"></script>

  </body>
</html>
{{end}}
