<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Home.Name }}</title>
    <meta name="description" content="{{.Home.Detail}}">

    <link rel="stylesheet" href="{{assets "019e3875-316c-70f4-a71d-32ea4f964ce0"}}">

  </head>
  <body>
     {{ template "Content" . }}
  </body>
</html>
