html {
    background-color: rgba(5, 5, 5, 1);
    text-align: left;
    color: white;
}

body {
    margin: 0;
    padding:0;
    color: white;
    font-family: "Meiryo","Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    overflow: hidden;
}

#App {
    position: fixed;
    margin:0;
    padding:0;
    display: flex;
    width:100%;
    height: 100vh;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

#pinBtn.top {
    background-color: #333333;
}

#pinBtn.top > svg {
    color : #555555;
}

#mainTitle {
    background-color: #191919;
    color: #f1f1f1;
    padding-right: 0px;
}

#mainTitle > button:hover {
    background-color: #1c1c1c;
}

#mainTitle > button{
    margin-right: 12px ;
}

.saveBtn {
    position: absolute !important;
    bottom: 10px;
    left: calc(320px);
}