html {
    background-color: rgba(5, 5, 5, 1);
    text-align: left;
    color: white;
}

body {
    --wails-draggable:"drag";

    margin: 0;
    padding:0;
    color: white;
    font-family: "Meiryo","Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    overflow: hidden;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#App {
    margin:0;
    padding:0;
    display: flex;
    width:100%;
    height: 100vh;
}

.title {
    background-color: #080808 !important;
    min-height: 52px !important;
    color: #f1f1f1 !important;
}


#leftContent {
    background-color: #191919;
    color: #f1f1f1;
    overflow: auto !important;
    border:0;
    height:calc(100% - 100px);
    max-height:calc(100% - 100px);
}

.treeText {
    margin-top: 10px !important;
    text-align:left;
    background-color: #191919;
    color: #f1f1f1;
    border:0;
}



#fileMenu {
    position:relative;
    height:calc(100% - 100px);
}

#settingMenu {
    position: absolute;
    width: 100%;
    bottom:0;
}


.MuiSvgIcon-root {
    color:#f9f9f9;
}

.MuiFormLabel-root {
  color: #f1f1f1 !important;
}

.MuiInputBase-input {
  color: #f1f1f1 !important;
}

.MuiDialog-container {
    --wails-draggable:no-drag;
}


.messageTxt {
    white-space:pre-wrap;
}


#splitScreen {
  display: flex;
}

#editorWrapper {
    position: absolute;
    top:64px;
    bottom: 0;
}

#splitter {
    --wails-draggable:no-drag;

    position: absolute;
    top: 64px;
    bottom: 0;

    border:5px solid #444444;
    cursor: ew-resize;
}

#splitter:hover {
    border:5px solid #666666;
}

#dataViewer {
    --wails-draggable:no-drag;

    position: absolute;
    top: 64px;
    right:0;
    bottom: 0px;
    display: flex;
}

iframe.htmlViewer {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:calc( 100% - 48px );

    transition: opacity 1;
}

#mermaidViewer {
    display:flex;
    width:100%;
    height:calc( 100% - 48px );
    justify-content: center;
    align-items:center;
}

#editor {
    --wails-draggable:no-drag;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 48px;

    background-color: #252525;
    caret-color: #ffffff;

    border:0 solid #000000;

    padding: 5px;
    margin: 0px;
}

.formGrid {
  display: grid;
  flex-flow: column;
  margin: 40px;
  margin-top: 20px;

  background-color: #252525;
  color: #f1f1f1;
}

.MuiAccordion-root {
  background-color: #202020 !important;
  color: #f1f1f1 !important;
}

.formContainer {
  display: flex;
  flex-flow: column;
  background-color: #292929;
  color: #f1f1f1;
}

.buttonBar {
   display: flex;
   justify-content: space-between;
   background-color: #222222;
   position: absolute !important;
   padding: 0;
   margin:0;
   border: 0;
   left: 0;
   right: 0;
   bottom: 0;
   min-height: 40px !important;
   max-height: 40px !important;
}

.buttonBarLeft {
  margin: 0;
  padding-left:0px !important;
}

.buttonBarRight {
  margin: 0;
  text-align:right;
  padding-right:0px !important;
}

.buttonBarRightButton {
  margin: 0;
  padding: 0;
}


.input-box .btn {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}